<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>American Funds Advisor Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../dist/css/head.css" rel="stylesheet" type="text/css">
    <link href="../dist/css/nextgen-responsive.css" rel="stylesheet" type="text/css">
    <link href="../dist/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../dist/css/msgs-icons.css" rel="stylesheet" type="text/css">
    
    <!-- Angular.js -->
    <script src="../dist/js/angular.min.js"></script>
    <script src="../dist/js/ui-bootstrap-tpls-0.12.1.min.js"></script>

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script>
        var app = angular.module('dashboard', []);
        
        app.controller('clientCtrl', function($scope) {
                       $scope.clients = [
                                         {
                                         "address": "827 Thatford Avenue, Coinjock, Pennsylvania, 279",
                                         "phone": "+1 (972) 444-2034",
                                         "email": "jacklyn.meyer@quizka.us",
                                         "company": "QUIZKA",
                                         "name": {
                                         "last": "Meyer",
                                         "first": "Jacklyn"
                                         },
                                         "balance": "$2,272,529.97",
                                         "transactiondate": "01-05-2015",
                                         "transactionamount": "$2,334.82",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 0,
                                         "_id": "55085ec637675a090ce4be30"
                                         },
                                         {
                                         "address": "987 Farragut Road, Caberfae, Wyoming, 7280",
                                         "phone": "+1 (844) 490-2161",
                                         "email": "shelley.meadows@slambda.tv",
                                         "company": "SLAMBDA",
                                         "name": {
                                         "last": "Meadows",
                                         "first": "Shelley"
                                         },
                                         "balance": "$2,665,925.86",
                                         "transactiondate": "01-09-2015",
                                         "transactionamount": "$3,855.98",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 1,
                                         "_id": "55085ec66a93e4fccff92dac"
                                         },
                                         {
                                         "address": "933 Bassett Avenue, Whitmer, Massachusetts, 8308",
                                         "phone": "+1 (877) 517-2985",
                                         "email": "melissa.kirkland@applica.info",
                                         "company": "APPLICA",
                                         "name": {
                                         "last": "Kirkland",
                                         "first": "Melissa"
                                         },
                                         "balance": "$3,854,085.28",
                                         "transactiondate": "01-12-2015",
                                         "transactionamount": "$1,425.97",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 2,
                                         "_id": "55085ec6e0f4d1e8a01037bf"
                                         },
                                         {
                                         "address": "115 Pilling Street, Vicksburg, Utah, 9619",
                                         "phone": "+1 (939) 548-3677",
                                         "email": "lyons.armstrong@affluex.net",
                                         "company": "AFFLUEX",
                                         "name": {
                                         "last": "Armstrong",
                                         "first": "Lyons"
                                         },
                                         "balance": "$687,422.27",
                                         "transactiondate": "01-20-2015",
                                         "transactionamount": "$2,719.43",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 3,
                                         "_id": "55085ec6996333321c08aae6"
                                         },
                                         {
                                         "address": "629 Lafayette Walk, Cavalero, Minnesota, 1647",
                                         "phone": "+1 (940) 403-3515",
                                         "email": "dunlap.rojas@medesign.org",
                                         "company": "MEDESIGN",
                                         "name": {
                                         "last": "Rojas",
                                         "first": "Dunlap"
                                         },
                                         "balance": "$3,012,987.96",
                                         "transactiondate": "01-26-2015",
                                         "transactionamount": "$3,590.96",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 4,
                                         "_id": "55085ec66fb2da5169498064"
                                         },
                                         {
                                         "address": "523 Seton Place, Temperanceville, American Samoa, 7056",
                                         "phone": "+1 (861) 504-2179",
                                         "email": "roslyn.joyce@exodoc.com",
                                         "company": "EXODOC",
                                         "name": {
                                         "last": "Joyce",
                                         "first": "Roslyn"
                                         },
                                         "balance": "$422,668.49",
                                         "transactiondate": "01-01-2015",
                                         "transactionamount": "$1,893.28",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 5,
                                         "_id": "55085ec6538d5f545affcfd4"
                                         },
                                         {
                                         "address": "737 Dorchester Road, Elrama, Federated States Of Micronesia, 2678",
                                         "phone": "+1 (859) 490-2739",
                                         "email": "alyce.ball@tripsch.name",
                                         "company": "TRIPSCH",
                                         "name": {
                                         "last": "Ball",
                                         "first": "Alyce"
                                         },
                                         "balance": "$3,249,527.32",
                                         "transactiondate": "03-01-2015",
                                         "transactionamount": "$2,492.03",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 6,
                                         "_id": "55085ec63cf32abbd00ccd3f"
                                         },
                                         {
                                         "address": "248 Columbus Place, Fairview, Northern Mariana Islands, 3142",
                                         "phone": "+1 (877) 447-2704",
                                         "email": "penelope.horne@cuizine.me",
                                         "company": "CUIZINE",
                                         "name": {
                                         "last": "Horne",
                                         "first": "Penelope"
                                         },
                                         "balance": "$3,871,695.41",
                                         "transactiondate": "02-20-2015",
                                         "transactionamount": "$2,119.06",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 7,
                                         "_id": "55085ec6bc306d72b4543831"
                                         },
                                         {
                                         "address": "736 Diamond Street, Derwood, District Of Columbia, 2840",
                                         "phone": "+1 (846) 587-2973",
                                         "email": "coleman.william@balooba.biz",
                                         "company": "BALOOBA",
                                         "name": {
                                         "last": "William",
                                         "first": "Coleman"
                                         },
                                         "balance": "$2,203,278.87",
                                         "transactiondate": "02-15-2015",
                                         "transactionamount": "$1,100.02",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 8,
                                         "_id": "55085ec63119e3a744a7f28c"
                                         },
                                         {
                                         "address": "139 Lloyd Street, Lowgap, Oregon, 6484",
                                         "phone": "+1 (970) 436-2977",
                                         "email": "russo.sherman@pheast.biz",
                                         "company": "PHEAST",
                                         "name": {
                                         "last": "Sherman",
                                         "first": "Russo"
                                         },
                                         "balance": "$1,237,797.43",
                                         "transactiondate": "03-01-2015",
                                         "transactionamount": "$3,992.61",
                                         "lasttransaction": "<ReferenceError: min is not defined>",
                                         "index": 9,
                                         "_id": "55085ec6dc41cb1f691d7413"
                                         }
                                         ];
                       });
        app.controller('selectDrop', function($scope) {
                $scope.clientDrop = ['Meyer, Jacklyn', 'Meadows, Shelley', 'Kirkland, Melissa', 'Armstrong, Lyons', 'Rojas, Dunlap', 'Joyce, Roslyn', 'Ball, Alyce', 'Horne, Penelope', 'William, Coleman', 'Sherman, Russo'];
        });
    </script>
    <style>
        .select-drop h4 {
            margin-bottom: 0;
        }
    
    .search-form input {
        height: auto !important;
    }
    
    .client-info {
        padding: 0;
    }
    
    .client-info .col-lg-4 {
        padding: 0;
    }

.client-info .row {
    margin: 0;
}
    
    .client-info .ng-scope .ng-binding {
        white-space: normal;
    }
    </style>

</head>

<body ng-app="dashboard">

    <div id="wrapper">
        
        <!-- Navigation -->
        <div class="row" style="color: #FFFFFF; background-color: black; margin-left:0; padding: 5px;">
            <div class="pull-right"><i style ="color: #009ADF" class="fa fa-user"></i>&nbsp; <strong style="margin-right: 25px;">Jack Sparrow</strong></div>
            </div>
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">



            <div class="navbar-header" style="padding:10px;">
                <img src="../dist/css/images/af-logo-transparent.png" alt="American Funds" />          
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Justin Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <li>
                    <div class="select-drop" ng-controller="selectDrop">
                            <h4>Client Search</h4>
                            <select>
                                    <option ng-repeat="x in clientDrop">{{x}}</option>
                            </select>
                            </div>
                    </div>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel capital-blue40">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">$6,323,765</div>
                                    <div><br/>Total Assets</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel capital-blue40">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bell-o fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">25</div>
                                    <div><br/>Alerts &amp; Notifications</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel capital-blue40">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div><br/>Literature Orders</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel capital-blue40">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-weixin fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Bhaumik Patel</div>
                                    <div><br/>Client Communications</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel-footer">
                            <span class="pull-left"><a href="#">View Details</a></span>
                            <span class="pull-right">
                                <label>Client list: </label>
                                <select style="width: 180px;" ng-model="clientList">
                                    <option>Bhaumik Patel</option>
                                    <option>Edward J Block</option>
                                    <option>Diane L Adele</option>
                                </select>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Purchases and Redemptions<div class="pull-right">
                                <!--
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                                -->
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Top Clients
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body client-info" ng-controller="clientCtrl">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th><a href="" ng-click="predicate = 'name.last'; reverse=false">Name</a></th>
                                                    <th><a href="" ng-click="predicate = 'transactiondate'; reverse=!reverse">Trnx Date</a></th>
                                                    <th><a href="" ng-click="predicate = 'transactionamount'; reverse=!reverse">Trnx Amt</a></th>
                                                    <th><a href="" ng-click="predicate = 'balance'; reverse=!reverse">Balance</a></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="client in clients | orderBy:predicate:reverse">
                                                    <td>{{client.name.last}}, {{client.name.first}}</td>
                                                    <td>{{client.transactiondate}}</td>
                                                    <td>{{client.transactionamount}}</td>
                                                    <td>{{client.balance}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
            
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Asset Allocation Summary
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Client SMS Communications
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="../dist/css/images/j-sparrow.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            I'm in the area. I can stop by and talk?
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="../dist/css/images/b-patel.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            I'd like to increase my IRA contributions? Can you give me a call when you get a chance?
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="../dist/css/images/j-sparrow.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            These ups and downs are typical. Remember your young! You can ride this out just stay the course. We have a history of long-term gains.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="../dist/css/images/b-patel.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Just checking to see your opinion on the market downturn. Should I be concerned?
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->

                    </div>
                    <!-- /.panel .chat-panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-envelope fa-fw"></i> Client E-Mail Communications
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item"> Need Roth IRA Roll-over Forms for...
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item"> Re: IRA Contributions for 2014...
                                    <span class="pull-right text-muted small"><em>1 day ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item"> Lets get together and discuss retir...
                                    <span class="pull-right text-muted small"><em>2 days ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                     Re: Thank you for your time...
                                    <span class="pull-right text-muted small"><em>1 week ago</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All E-mail</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../bower_components/raphael/raphael-min.js"></script>
    <script src="../bower_components/morrisjs/morris.min.js"></script>
    <script src="../js/morris-data.js"></script>



    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
